body {
    background-color: white;
}

#logo_img {
    width: 60px;
    height: 60px;
}

.navbar {
    background-color: white;
}

.nav-item {
    margin-left: 24px;
}

.nav-item-profile {
    margin-left: 5px;
}

.nav-link {
    color: #0096C7 !important;
}

.vertical-divider {
    margin-left: 24px;
    border-right: 1px solid gray;
}

#profile {
    width: 30px;
    height: 30px;
}

#text-info {
    width: 30%;
    color: white;
    float: left;
    margin-left: 5%;
}

.facility-image {
    width: 420px;
    height: 260px;
    border-radius: 22px;
}

.text-price {
    color: #0096C7;
    font-weight: bold;
    font-size: 17px;
}

.media-heading {
    font-size: 20px;
}

.bedroom-list {
    width: 210px;
}

.footer {
    background-color: white;
    font-size: 14px;
    border: none;
}

.footer-item {
    text-decoration: none;
    color: black;
}

.footer-logo {
    width: 4%;
    height: 63%;
}